doctype html
html
  head
    meta(charset='utf-8')
    title Aldair47x-Chat
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
    script(src='/socket.io/socket.io.js')
    link(href='./public/stylesheets/styleChat.css', rel='stylesheet')
  body
    h1 Woo, you see me!
    script(src='chat.js')