extends layout

block content
  h1.text-description-tittle1 Voice Chat with Socket.IO
  p
    span(class="text-description-tittle") Made by aldair47x ~ 

  h1.text-description-tittle1 User stories:
  div.container-fluid
    div.row
      div.col-sm-6
        p(class="text-description-tittle2")
          span(class="text-red1") 1)
          span Can connect with multiple clients in real time through a voice chat
          br
  br
  h1.text-description-tittle1 Press start to init the server:
  div.container-fluid
    div.row
      div.col-sm-6
        form(action="/init", method="post", enctype="multipart/form-data")
          input(class="btn btn-lg btn-info", name="start", type="submit", value="Start")

       